// Change value accordingly with the app's brand color hex value
$brandColor: hsl(198, 80%, 64%); // ADS HSL
// $brandColor: hsl(162, 80%, 70%); // Debit de Boissons HSL
// $brandColor: hsl(256, 80%, 70%); // Cimetiere HSL
// $brandColor: #56cfaa; // DébitDeBoissons HEX
// $brandColor: #ab90f3; // Cimetière HEX

$brandDark : desaturate(darken($brandColor, 25%), 20%);
$brandDarker : desaturate(darken($brandColor, 40%), 50%);
$brand400 : desaturate(lighten($brandColor, 15%), 5%);
$brand300 : desaturate(lighten($brandColor, 30%), 10%);
$brand200 : desaturate(lighten($brandColor, 30%), 15%);

// Teintes de gris
// [Note] 60 = plus foncé ; 10 = plus clair 
$gris60 : #1F1F1F;
$gris50 : #303236;
$gris40 : #64666A;
$gris30 : #7B7D85;
$gris20 : #B1B2B5;
$gris10 : #E3E3E3;

$noir : #000000;
$blanc : #FFFFFF;

// Menu 

/* Former colors 

$autorisation        : #bcddff;
$guichetUnique       : #F7C672;
$qualification       : #fbfce0;
$instruction         : #B5E89B;
$contentieux         : #CCCCEE;
$suivi               : #e6eacc;
$demandesAvis        : #dbecfc;
$numerisation        : #dbecfc;
$exportImport        : #e0e0e0;
$parametrageDossiers : #ffcdb2;
$parametrageApp      : #ff9860;
$administration      : #ff6060;
 */
/* $autorisation        : #87bcf2;
$guichetUnique       : #F7C672;
$qualification       : #fff5a3;
$instruction         : #B5E89B;
$contentieux         : #a8a8d9;
$suivi               : #d5df96;
$demandesAvis        : #bcddff;
$numerisation        : #a5ead3;
$exportImport        : #c1bebe;
$parametrageDossiers : #ffcdb2;
$parametrageApp      : #ff9860;
$administration      : #ff6060; */

$autorisation        : hsl(210, 80%, 75%);
$guichetUnique       : hsl(40, 90%, 75%);
$qualification       : hsl(55, 100%, 65%);
$instruction         : hsl(100, 63%, 75%);
$contentieux         : hsl(240, 39%, 75%);
$suivi               : hsl(80, 53%, 75%);
$demandesAvis        : hsl(210, 100%, 75%);
$numerisation        : hsl(160, 62%, 75%);
$exportImport        : hsl(0, 2%, 75%);
$parametrageDossiers : hsl(30, 100%, 75%);
$parametrageApp      : hsl(10, 100%, 70%);
$administration      : hsl(0, 100%, 60%);


//Alert messages

$danger: #e65244;
$dangerLight : lighten($danger, 20%);
$warning : #fc8802;
$warningLight : lighten($warning, 30%);
$success : #49D793;
$successLight : lighten($success, 40%);
$info : #59B9E2;
$infoLight : lighten($info, 30%);

// Palette de couleur

$rouge: #B22222;
$orange: #FF8C00;
$jauneLight: lighten(#FFD700, 40%);
$jaune: #FFD700;
$vertDark: #02BF54;
$vert: #00FA9A;
$bleuDark: #008AB8;
$bleu: #00BFFF;
$violetDark: #BA55D3;
$violet: #DDA0DD;
$roseDark: #FF1493;
$rose: #FFAFDA;


a.ui-state-default {
    color: $gris40;
}