 /*
  * On cache toutes les premières colonnes qui contiennent un id inutile
  */
  #tab-demande .firstcol,
  #tab-petitionnaire_frequent .firstcol,
  #tab-commission_tous_retours .firstcol,
  #tab-commission_retours_ma_division .firstcol,
  #tab-commission_mes_retours .firstcol,
  #tab-messages_tous_retours .firstcol,
  #tab-messages_retours_ma_division .firstcol,
  #tab-messages_mes_retours .firstcol,
  #tab-consultation_tous_retours .firstcol,
  #tab-consultation_retours_ma_division .firstcol,
  #tab-consultation_mes_retours .firstcol,
  #tab-messages_contentieux_tous_retours .firstcol,
  #tab-messages_contentieux_retours_ma_division .firstcol,
  #tab-messages_contentieux_mes_retours .firstcol,
  #tab-taxe_amenagement .firstcol,
  #tab-suivi_instruction_parametrable .firstcol,
  #tab-suivi_tache .firstcol {
      display: none;
  }
  
  /*
   * Cache la seconde colonne qui contient le geom, des tableaux des DI.
   * Cette colonne permet d'afficher le picto de redirection vers le SIG d'une
   * couleur différente que le geom soit renseigné ou non.
   */
  #tab-dossier_instruction .col-1,
  #tab-dossier_instruction_mes_encours .col-1,
  #tab-dossier_instruction_mes_clotures .col-1,
  #tab-dossier_instruction_tous_encours .col-1,
  #tab-dossier_instruction_tous_clotures .col-1,
  #tab-dossier_contentieux_tous_recours .col-1,
  #tab-dossier_contentieux_toutes_infractions .col-1,
  #tab-dossier_contentieux_mes_recours .col-1,
  #tab-dossier_contentieux_mes_infractions .col-1,
  #tab-dossier_qualifier .col-1,
  #tab-dossier_contentieux_alerte_visite .col-1,
  #tab-dossier_contentieux_alerte_parquet .col-1,
  #tab-dossier_contentieux_ait .col-1,
  #tab-dossier_contentieux_clotures .col-1,
  #tab-dossier_contentieux_audience .col-1,
  #tab-dossier_contentieux_contradictoire .col-1,
  #tab-dossier_contentieux_inaffectes .col-1,
  #tab-dossier_non_transmis .col-1,
  #tab-dossiers_pre_instruction .col-1,
  #tab-derniers_dossiers_deposes .col-1,
  #tab-dossiers_evenement_incomplet_majoration .col-1,
  #tab-dossiers_limites .col-1,
  #tab-suivi_instruction_parametrable .col-1,
  #sousform-dossier_instruction .col-1,
  #sousform-dossier_lies .col-1,
  #sousform-dossier_lies_retour .col-1,
  #tab-demande_dossier_encours .col-1,
  #tab-demande_autre_dossier .col-1,
  #tab-suivi_tache .col-1 {
      display: none;
  }
  
  /*
   * Cache la troisième colonne qui contient le source_depot, des tableaux des DI.
   * Cette colonne permet de changer l'icône de la flêche de consultation.
   */
  #tab-dossier_instruction .col-2,
  #tab-dossier_instruction_mes_encours .col-2,
  #tab-dossier_instruction_mes_clotures .col-2,
  #tab-dossier_instruction_tous_encours .col-2,
  #tab-dossier_instruction_tous_clotures .col-2,
  #tab-dossier_contentieux_tous_recours .col-2,
  #tab-dossier_contentieux_toutes_infractions .col-2,
  #tab-dossier_contentieux_mes_recours .col-2,
  #tab-dossier_contentieux_mes_infractions .col-2,
  #tab-dossier_qualifier .col-2,
  #tab-dossier_contentieux_alerte_visite .col-2,
  #tab-dossier_contentieux_alerte_parquet .col-2,
  #tab-dossier_contentieux_ait .col-2,
  #tab-dossier_contentieux_clotures .col-2,
  #tab-dossier_contentieux_audience .col-2,
  #tab-dossier_contentieux_contradictoire .col-2,
  #tab-dossier_contentieux_inaffectes .col-2,
  #tab-dossier_non_transmis .col-2,
  #tab-dossiers_pre_instruction .col-2,
  #tab-derniers_dossiers_deposes .col-2,
  #tab-dossiers_evenement_incomplet_majoration .col-2,
  #tab-dossiers_limites .col-2,
  #tab-suivi_instruction_parametrable .col-2,
  #sousform-dossier_instruction .col-2,
  #sousform-dossier_lies .col-2,
  #sousform-dossier_lies_retour .col-2,
  #tab-demande_dossier_encours .col-2,
  #tab-demande_autre_dossier .col-2,
  #tab-suivi_tache .col-2 {
      display: none;
  }

   
 /* la première colonne des services est cachée */
 #tab-service .firstcol {
    display: none;
  }
  
  /* Pour les widgets paramétrable */
  .widget_hide_col {
      display: none !important;
  }

  .liste_gauche_service input[type=checkbox] {
    display: none;
}


 /* CSS de l'affichage ou masquage de consultation dans les edition */
 tr.masquer-consultation-edition a[id*='afficher_dans_edition'] {
    display: none;
  }
  tr.afficher-consultation-edition a[id*='masquer_dans_edition'] {
    display: none;
  }

  .label:empty,
  .badge:empty {
    display: none;
  }

   /* Permet de cacher les premières colonnes des tab */
 #tab-demande_dossier_encours .firstcol, 
 #tab-demande_autre_dossier .firstcol, 
 #tab-dossier_autorisation .firstcol,
 #tab-dossier_autorisation_qualifier .firstcol,
 #tab-dossier_autorisation_avis .firstcol,
 #sousform-dossier_autorisation .firstcol,
 #tab-dossier_instruction .firstcol,
 #sousform-dossier_lies .firstcol,
 #sousform-dossier_lies_retour .firstcol,
 #sousform-dossier_lies_geographiquement .firstcol,
 #tab-dossier_instruction_mes_encours .firstcol,
 #tab-dossier_instruction_tous_encours .firstcol,
 #tab-dossier_instruction_mes_clotures .firstcol,
 #tab-dossier_instruction_tous_clotures .firstcol,
 #tab-dossier_qualifier .firstcol,
 #tab-dossier_qualifier_qualificateur .firstcol,
 #tab-dossiers_limites .firstcol,
 #tab-dossiers_evenement_incomplet_majoration .firstcol,
 #tab-contrainte .firstcol,
 #sousform-contrainte .firstcol,
 #tab-dossier_contentieux_mes_infractions .firstcol,
 #tab-dossier_contentieux_toutes_infractions .firstcol,
 #tab-dossier_contentieux_mes_recours .firstcol,
 #tab-dossier_contentieux_tous_recours .firstcol,
 #tab-dossier_contentieux_contradictoire .firstcol,
 #tab-dossier_contentieux_ait .firstcol,
 #tab-dossier_contentieux_audience .firstcol,
 #tab-dossier_contentieux_clotures .firstcol,
 #tab-dossier_contentieux_inaffectes .firstcol,
 #tab-dossier_contentieux_alerte_visite .firstcol,
 #tab-dossier_contentieux_alerte_parquet .firstcol,
 #tab-derniers_dossiers_deposes .firstcol,
 #tab-dossiers_pre_instruction .firstcol,
 #sousform-document_numerise #sousform-document_instruction .firstcol,
 #sousform-document_numerise #sousform-document_travail .firstcol,
 #tab-dossier_non_transmis .firstcol,
 #sousform-dossier_instruction .firstcol {
     display: none;
 }

 /*
  * Soustableau des dossiers liés :
  *  - on masque l'action supprimer si la condition est satisfaite
  *  - on masque les deux dernières colonnes servant aux conditions
  */
  tr.case_cannot_delete_link a[id*='supprimer'],
  #sousform-dossier_lies th.col-8,
  #sousform-dossier_lies th.col-7,
  #sousform-dossier_lies td.col-8,
  #sousform-dossier_lies td.col-7 {
    display: none;
  }

   
 /*
  *  Correction layout
  *  XXX - à supprimer après fix du core
  */
 
 .group .field.field-type-hidden,
 .display-none {
   display: none;
 }
 
 /*
  * Masquage du libellé du champ du formulaire
  */
 .nolabel .field .form-libelle {
   display: none;
 }

  /*
  * Cache le fieldset entourant la prévisualisation
  */
  #sousform-instruction .container_instr_edition .preview_instr_edition #fieldset-sousform-instruction-previsualisation legend {
    display: none;
  }

  .sitadel-form-bloc-tab .tab-tab .firstcol {
    display: none;
  }

   /* Suivi du parapheur */
 .field-type-jsontotab > div.form-libelle {
    /* margin: 0px; */
    display: none;
  }

  .field-type-textareahidden {
    display: none;
  }

   /**/
 .tab-tab .nodisplay {
    display: none;
  }
  
  #sousform-instruction_modale .subtitle {
    display: none;
    max-width: 500px;
  }