* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}


body {
    background-color: $brand200;
}

body:not(.mainrubrik-veuillez-vous-connecter):not([class="mainrubrik-"]),
body.mainrubrik- .formEntete {
    display: grid;
    min-height: 100vh;
    min-height: 100svh;
    grid-template-columns: 250px calc(100% - 250px);
    grid-template-rows: 60px 1fr 30px;


    //
    // Header div
    //
    #header {
        grid-column: 1/3;
        grid-row: 1/2;
        height: 100%;
        padding-right: .5em;

    }
    //
    // Menu div
    //
    #menu {
        grid-column: 1/2;
        grid-row: 2/4;
        position: unset;
        margin: 0;
        padding-top: 2em;
        padding-bottom: 2em;
        border-right: 3px solid $brand300;
    }

    //
    // Content div
    //
    #content {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 1em;
        background: transparent;
        &.ui-widget-content {
            border: none;
        }
        div.message p, #message p{
            display: flex;
            align-items: center;
            .text {
                padding-left: 10px;
            }
        }
        #title h2 {
            text-transform: capitalize;
        } 
    }

    // 
    // Footer div
    // 

    
    // 
    // Font size
    // 

    // Page DEscription 
    .pageDescription {
        margin-bottom: 2em;
    }
    
    #form-content {
        margin-bottom: 1em;
    }
}
#footer {
    grid-column: 2/3;
    grid-row: 3/4;  
    margin: 0;    
    font-size: 12px; 
    border-top : 1px solid #ededed;
    * {
        border: none;
        background: none;
    }
}

.info-16 {
    cursor: help;
}

#frame_pdf {
    width: 100% !important;
}