.mainrubrik-autorisation {

    // Colorisation onglet "Dossier d'instruction"

    #content:not(.nomenu) #formulaire.ui-tabs .ui-tabs-nav li {
        
        >a#dossier_instruction {
            display: inline-block;
            background-color: lighten($instruction, 10%);
            padding: 4px 16px;
            border-radius: 1em;
        }
        &:hover a#dossier_instruction{
            color: $noir;
        }

        &:nth-child(3).ui-state-active.ui-tabs-selected {
            border-bottom-color: $instruction;

            a#dossier_instruction {
                color: desaturate(darken($instruction, 45%), 30%);
            }
        }
    }
    // Onglet "Dossier d'autorisation"

    #dossier_autorisation {
        #form-content {
            display: grid;
            grid-row: 1fr;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1em;
            > .bloc > fieldset {
                height: 100%;
                margin: 0;
                box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
                border-radius: 8px;
            }
        }
        .fieldsetContent .bloc {
            display: grid;
            grid-template-columns: 1fr 2fr;
            padding: 2em  1em;
            > div {
                grid-column: 2/3;
            }
            .bloc-titre {
                grid-column: 1/2;
                padding: 0;
            }
            + .bloc {
                border-top: 1px solid #dedede;
            }
            .form-content {
                font-weight: 700;
                font-size: 1.1em;
                border-bottom: 1px solid #eee;
            }
            &.listeLots,
            &.historiqueDecisions,
            &.donneesCerfa {
                .form-content {
                    font-weight: 500;
                    font-size: 1.1em;
                    border: none;
                }
            }
        }

        .fieldsetContent .datesImportantes{
            grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
            grid-gap: 2em 0;
            > div {
                grid-column: unset;
                align-items: stretch;
            }
            .bloc-titre {
                grid-column: 1/-1;
                padding: 0;
            }
            .form-content {
                color: $brandDark;
                font-weight: 700;
                align-self: flex-end;
                border: none;
            }
            .field {
                padding: 0 1em ;
                grid-template-columns: 1fr;
                + .field {
                    border-left: 1px solid #ddd;
                    
                }
            } 
        }

    }

    // Onglet "Pièces & documents"

    ///#sousform-document_numerise {

    //}

    // Onglet "Dossier d'instruction"

    //#dossier_instruction {

    //}
    
}